* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    user-select: none;
    text-decoration: none;
}
html,
body {
    height: 100%;
    width: 100%;
}
.contentBox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display:  inline-block;
}
#content{
    height: 510px;
    background-image: url(bg.jpg);    
}
header{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    /* margin-top: 10px; */
}
a{
    margin-right: 190px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
#sh{
    margin-top: 150px;
    margin-left: 500px;
    font-size: 200px;
    font-weight: 300;
    display: none;
}